<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
    <title>TravelTrek &minus; Travel Agency & Tour Booking HTML5 Template</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="images/favicon.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	
	<!-- StyleSheet -->
    <link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/datepicker.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/magnific-popup.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/owl-carousel.css">
    <link rel="stylesheet" href="css/slicknav.min.css">
    <link rel="stylesheet" href="css/animate.css">
	
	<!-- TravelTrek StyleSheet -->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="js">
	
	<!-- Preloader -->
	<div class="cp-preloader">
		<div class="cp-preloader__box">
			<div class="cp-preloader-inner">
				<div class="icon">
					<i class="fa fa-plane"></i>
				</div>
			</div>
		</div>
	</div>
	<!-- End Preloader -->

	<!-- Header Area -->
	<header id="site-header" class="site-header">
		<!-- Start Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
						<!-- Text -->
						<p>Welcome To Tang's group of Travel </p>
						<!--/ End Text -->
                    </div>
					<div class="col-lg-6 col-md-6 col-12">
						<!-- Social -->
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
						<!--/ End Social -->
                    </div>
				</div>
            </div>
        </div>
		<!--/ End Topbar -->
		<!-- Middle Header -->
		<div class="middle-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="index.html"><img src="images/logo.png" alt="logo"></a>
						</div>
						<!--/ End Logo -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-9 col-md-9 col-12">
						<!-- Header Widget -->
						<div class="header-widget">
							<!-- Single Widget -->
							<div class="single-widget">
								<img src="images/location-icon.png" alt="#">
								<h4>321 St Jeanne Dance, Flans</h4>
								<p>Bomanias, US</p>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget">
								<img src="images/call-icon.png" alt="#">
								<h4>+012 345 678990</h4>
								<p>Troll Free </p>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget">
								<img src="images/clock-icon.png" alt="#">
								<h4>Mon -Fri: 9:00-19:00</h4>
								<p>Sunday Closed</p>
							</div>
							<!--/ End Single Widget -->
						</div>
						<!--/ End Header Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Middle Header -->
		<!-- Header Bottom -->
		<div class="header-bottom">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Main Menu -->
						<div class="main-menu">
							<nav class="navigation">
								<ul class="nav menu">
									<li class="active"><a href="#">Home<i class="fa fa-angle-down"></i></a>
										<ul class="dropdown">
											<li><a href="index.html">Homepage</a></li>
											<li><a href="index2.html">Homepage Slider</a></li>
											<li><a href="index3.html">Homepage Video</a></li>
											<li><a href="index4.html">Homepage Animation</a></li>
										</ul>
									</li>
									<li><a href="#">Trip package<i class="fa fa-angle-down"></i></a>
										<ul class="dropdown">
											<li><a href="trip-3-column.html">Trip Package(Local Sydney)</a></li>
											<li><a href="trip-4-column.html">Trip Package(Local Melbourne)</a></li>
											<li><a href="trip-single.html">Trip Package(Canberra)</a></li>
										</ul>
									</li>
									<li><a href="#">Services<i class="fa fa-angle-down"></i></a>
										<ul class="dropdown">
											<li><a href="services.html">Services</a></li>
											<li><a href="service-single.html">Service Single</a></li>
										</ul>
									</li>
									<li><a href="#">Pages<i class="fa fa-angle-down"></i></a>
										<ul class="dropdown">
											<li><a href="about.html">About Us</a></li>
											<li><a href="destinations.html">Destinations</a></li>
											<li><a href="team.html">Team</a></li>
											<li><a href="testimonials.html">Testimonials</a></li>
											<li><a href="faq.html">Faq</a></li>
											<li><a href="404.html">404 Page</a></li>
										</ul>
									</li>
									<li><a href="#">Blogs<i class="fa fa-angle-down"></i></a>
										<ul class="dropdown">
											<li><a href="blog-grid.html">Blog Grid</a></li>
											<li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
											<li><a href="blog-classic.html">Blog Classic</a></li>
											<li><a href="blog-classic-sidebar.html">Blog Classic Sidebar</a></li>
											<li><a href="blog-single.html">Blog Single</a></li>
											<li><a href="blog-single-sidebar.html">Blog Single Sidebar</a></li>
										</ul>
									</li>
									<li><a href="contact.html">Contact Us</a></li>
								</ul>
							</nav>
						</div>
						<!--/ End Main Menu -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Bottom -->
    </header>
	<!--/ End Header Area -->
	
	<!-- Breadcrumb -->
	<div class="breadcrumbs overlay" data-stellar-background-ratio="0.7">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="list">
						<li><a href="index.html">Home</a></li>
						<li><a href="#">Blogs</a></li>
						<li><a href="blog-single-sidebar.html">Blog Single</a></li>
					</ul>
					<h2>Blog Details Page</h2>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Breadcrumb -->
	
	<!-- Blog Grid -->
	<section id="blog-area" class="blog-area archive classic single section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2 col-12">
					<div class="row">
						<div class="col-12">
							<!-- Single Blog -->
							<div class="single-blog">
								<div class="blog-head">
									<img src="http://via.placeholder.com/1000x600" alt="#">
								</div>
								<div class="blog-content">
									<h4><a href="#">Treasure of Europe</a></h4>
									<div class="meta">Feb 15, 2018 <span>|</span> 2 Comments</div>
									<p>Urna litora, consequat eros cras. Suscipit facilisi cursus aenean vel sagittis et. Malesuada ut massa, risus tincidunt. Non ultrices accumsan laoreet eget commodo risus, integer eu aenean dapibus, mollis integer, ligula leo elit. Risus leo volutpat felis odio elit varius, faucibus rhoncus sollicitudin sollicitudin quis euismod, accumsan lobortis donec nibh mollis. Nunc mollis lectus nulla ac urna sit, interdum ante rutrum phasellus curabitur, sed quis. Cras ac volutpat et metus luctus eget. Donec facilisi nunc sit arcu, ac mauris nec vitae sed, orci consectetuer purus arcu in, sed fermentum. Feugiat nibh sodales suspendisse habitant urna. Lorem a a elementum.</p>
									<blockquote>Do what you love to do and give it your very best. Whether it's business or baseball, or the theater, or any field. If you don't love what you're doing and you can't give it your best, get out of it. Life is too short. You'll be an old man before you know it.</blockquote>
									<p>Justo dapibus luctus, pharetra augue arcu sollicitudin in ac, urna mauris amet egestas luctus. Enim a phasellus libero sit scelerisque quam, per sapien sollicitudin hendrerit ex, justo elit ipsum quis ac. Turpis ut diam sodales tempus, massa vestibulum vivamus eu nisl, auctor ut integer posuere euismod sodales vivamus. Vehicula porta quam magna, id sagittis suscipit, tincidunt vestibulum soluta nascetur, eget commodi, venenatis purus tristique quis. Feugiat at scelerisque.</p>
									<p>Ut suscipit dignissim lacus vulputate. Urna lorem. Duis ullamcorper eros amet dapibus, nullam nibh, montes euismod commodo habitant praesent at, tempor cursus magna sem, id mauris scelerisque sit iaculis ante. At qui pellentesque class, vitae bibendum, justo lacus neque ipsum metus ligula aenean, egestas vestibulum eu elit. Nibh urna quis, justo sed. Orci duis faucibus libero aliquet, in nec eu vivamus lectus hac suspendisse, a mi hymenaeos adipiscing morbi sit nec, dui tincidunt justo leo nullam curabitur orci, donec purus quis auctor a etiam arcu.</p>
								</div>
								<div class="content-bottom">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-12">
											<!-- Tags -->
											<ul class="tags">
												<li class="tag-title">Tags:</li>
												<li><a href="#">Travel,</a></li>
												<li><a href="#">Europe</a></li>
											</ul>
											<!--/ End Tags -->
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<!-- Social -->
											<ul class="social">
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											</ul>
											<!--/ End Social -->
										</div>
									</div>
								</div>
								<div class="author-details">
									<div class="row">
										<div class="col-lg-3 col-md-3 col-12">
											<!-- Auhtor Image -->
											<div class="author-img">
												<img src="http://via.placeholder.com/180x160" alt="#">
											</div>
											<!--/ End Auhtor Image -->
										</div>
										<div class="col-lg-9 col-md-9 col-12">
											<!-- Auhtor Description -->
											<div class="author-content">
												<h4>About Author</h4>
												<p>Urna litora, consequat eros cras. Suscipit facilisi cursus aenean vel sagittis et. Malesuada ut massa, risus tincidunt. Non ultrices accumsan laoreet eget commodo risus.</p>
												<a href="#" class="post-link"><i class="fa fa-angle-double-left"></i>View all post from the Author</a>
											</div>
											<!--/ End Auhtor Description -->
										</div>
									</div>
								</div>
							</div>
							<!--/ End Single Blog -->
						</div>
						<div class="col-12">
							<div class="blog-comments">
								<h2>2 Comments</h2>
								<div class="comments-body">
									<!-- Single Comments -->
									<div class="single-comments">
										<div class="main">
											<div class="head">
												<img src="http://via.placeholder.com/100x100" alt="#">
											</div>
											<div class="body">
												<h4>John Smith<span class="meta">Jan 10, 2018</span><a href="#">Replay</a></h4>
												<p>Urna litora, consequat eros cras. Suscipit facilisi cursus aenean vel sagittis et. Malesuada ut massa, risus tincidunt. Non ultrices accumsan laoreet.</p>
											</div>
										</div>
										<div class="comment-list">
											<div class="head">
												<img src="http://via.placeholder.com/100x100" alt="#">
											</div>
											<div class="body">
												<h4>Jenny Deep<span class="meta">Jan 02, 2018</span><a href="#">Replay</a></h4>
												<p>Urna litora, consequat eros cras. Suscipit facilisi cursus aenean vel sagittis et. Malesuada ut massa, risus tincidunt.</p>
											</div>
										</div>
									</div>
									<!--/ End Single Comments -->
									<!-- Single Comments -->
									<div class="single-comments">
										<div class="main">
											<div class="head">
												<img src="http://via.placeholder.com/100x100" alt="#">
											</div>
											<div class="body">
												<h4>Karimoan Lofers<span class="meta">Dec 05, 2017</span><a href="#">Replay</a></h4>
												<p>Urna litora, consequat eros cras. Suscipit facilisi cursus aenean vel sagittis et. Malesuada ut massa, risus tincidunt. Non ultrices accumsan laoreet.</p>
											</div>
										</div>
									</div>		
									<!--/ End Single Comments -->											
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="comments-form">
								<h2>Leave a comment</h2>
								<!-- Contact Form -->
								<form class="form" method="post" action="mail/mail.php">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input type="text" name="name" placeholder="Name" required="required">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<input type="email" name="email" placeholder="Email" required="required">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<textarea name="message" rows="7" placeholder="Your Reply"></textarea>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group button">	
												<button type="submit" class="button primary">Post a reply</button>
											</div>
										</div>
									</div>
								</form>		
								<!--/ End Contact Form -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Blog Grid -->
	
	<!-- Footer -->
	<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-widget">
							<h2>Company</h2>
							<ul>
								<li><a href="about.html">About Our Company</a></li>
								<li><a href="services.html">Our Services</a></li>
								<li><a href="testimonials.html">Testimonials</a></li>
								<li><a href="contact.html">Work with Us</a></li>
							</ul>
						</div>
						<!--/ End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-widget">
							<h2>Reservation</h2>
							<ul>
								<li><a href="#">Terms and Conditions</a></li>
								<li><a href="#">Copyright</a></li>
								<li><a href="#">Refund Policy</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Disclaimer</a></li>
							</ul>
						</div>
						<!--/ End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-widget gallery">
							<h2>Gallery Image</h2>
							<ul class="list">
								<li><a href="http://via.placeholder.com/800x450" data-fancybox="photo"><img src="http://via.placeholder.com/800x450" alt="#"></a></li>
								<li><a href="http://via.placeholder.com/800x450" data-fancybox="photo"><img src="http://via.placeholder.com/800x450" alt="#"></a></li>
								<li><a href="http://via.placeholder.com/800x450" data-fancybox="photo"><img src="http://via.placeholder.com/800x450" alt="#"></a></li>
								<li><a href="http://via.placeholder.com/800x450" data-fancybox="photo"><img src="http://via.placeholder.com/800x450" alt="#"></a></li>
								<li><a href="http://via.placeholder.com/800x450" data-fancybox="photo"><img src="http://via.placeholder.com/800x450" alt="#"></a></li>
								<li><a href="http://via.placeholder.com/800x450" data-fancybox="photo"><img src="http://via.placeholder.com/800x450" alt="#"></a></li>
							</ul>
						</div>
						<!--/ End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-widget about">
							<img src="images/logo2.png" alt="#">
							<p>At Revirta, we hire US-based, detail-oriented people who strive to provide our clients with the best assistance.</p>
						</div>
						<!--/ End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Footer Top -->
		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="bottom-inner">
							<div class="row">
								<div class="col-lg-8 col-md-8 col-12">
									<!-- Copyright -->
									<div class="copyright"> 
										<p>Copyright &#9400; 2018 by <a href="#">iThemer.</a> All Right Reserved</p>
									</div>
									<!--/ End Copyright -->
								</div>
								<div class="col-lg-4 col-md-4 col-12">
									<!-- Social -->
									<ul class="social">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
									<!--/ End Social -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Footer Bottom -->
	</footer>
	<!--/ End footer -->
 
	<!-- Jquery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Steller JS -->
	<script src="js/steller.js"></script>
	<!-- Fancybox JS -->
	<script src="js/facnybox.min.js"></script>
	<!-- Circle Progress JS -->
	<script src="js/circle-progress.min.js"></script>
	<!-- Slicknav JS -->
	<script src="js/slicknav.min.js"></script>
	<!-- Niceselect JS -->
	<script src="js/niceselect.js"></script>
	<!-- Owl Carousel JS -->
	<script src="js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="js/magnific-popup.js"></script>
	<!-- Waypoints JS -->
	<script src="js/waypoints.min.js"></script>
	<!-- Wow Min JS -->
	<script src="js/wow.min.js"></script>
	<!-- Jquery Counterup JS -->
	<script src="js/jquery-counterup.min.js"></script>
	<!-- Ytplayer JS -->
	<script src="js/ytplayer.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="js/scrollup.js"></script>
	<!-- Easing JS -->
	<script src="js/easing.js"></script>
	<!-- Google Map JS -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhgNBg6jrSuqhTeKKEFDWI0_5fZLx0vM"></script>	
	<script src="js/gmap.min.js"></script>
	<!-- Active JS -->
	<script src="js/active.js"></script>
</body>
</html>