<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
    <title>TravelTrek &minus; Travel Agency & Tour Booking HTML5 Template</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="images/favicon.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	
	<!-- StyleSheet -->
    <link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/datepicker.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/magnific-popup.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/owl-carousel.css">
    <link rel="stylesheet" href="css/slicknav.min.css">
    <link rel="stylesheet" href="css/animate.css">
	
	<!-- TravelTrek StyleSheet -->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="js">
	
	<!-- Preloader -->
	<div class="cp-preloader">
		<div class="cp-preloader__box">
			<div class="cp-preloader-inner">
				<div class="icon">
					<i class="fa fa-plane"></i>
				</div>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
	
	<!-- Header Area -->
	<header id="site-header" class="site-header style2">
		<!-- Start Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
						<!-- Text -->
						<p>Welcome To Tang's group of Travel </p>
						<!--/ End Text -->
                    </div>
					<div class="col-lg-6 col-md-6 col-12">
						<!-- Social -->
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
						<!--/ End Social -->
                    </div>
				</div>
            </div>
        </div>
		<!--/ End Topbar -->
		<!-- Middle Header -->
		<div class="middle-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="index.html"><img src="images/logo.png" alt="logo"></a>
						</div>
						<!--/ End Logo -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-9 col-md-9 col-12">
						<!-- Header Widget -->
						<div class="header-widget">
							<!-- Single Widget -->
							<div class="single-widget">
								<img src="images/location-icon.png" alt="#">
								<h4>321 St Jeanne Dance, Flans</h4>
								<p>Bomanias, US</p>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget">
								<img src="images/call-icon.png" alt="#">
								<h4>+012 345 678990</h4>
								<p>Troll Free </p>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget">
								<img src="images/clock-icon.png" alt="#">
								<h4>Mon -Fri: 9:00-19:00</h4>
								<p>Sunday Closed</p>
							</div>
							<!--/ End Single Widget -->
						</div>
						<!--/ End Header Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Middle Header -->
		<!-- Header Bottom -->
		<div class="header-bottom">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Main Menu -->
						<div class="main-menu">
							<nav class="navigation">
								<ul class="nav menu">
									<li class="active"><a href="#">Home<i class="fa fa-angle-down"></i></a>
										<ul class="dropdown">
											<li><a href="index.html">Homepage</a></li>
											<li><a href="index2.html">Homepage Slider</a></li>
											<li><a href="index3.html">Homepage Video</a></li>
											<li><a href="index4.html">Homepage Animation</a></li>
										</ul>
									</li>
									<li><a href="#">Trip package<i class="fa fa-angle-down"></i></a>
										<ul class="dropdown">
											<li><a href="trip-3-column.html">Trip Package 3 Column</a></li>
											<li><a href="trip-4-column.html">Trip Package 4 Column</a></li>
											<li><a href="trip-single.html">Trip Single</a></li>
										</ul>
									</li>
									<li><a href="#">Services<i class="fa fa-angle-down"></i></a>
										<ul class="dropdown">
											<li><a href="services.html">Services</a></li>
											<li><a href="service-single.html">Service Single</a></li>
										</ul>
									</li>
									<li><a href="#">Pages<i class="fa fa-angle-down"></i></a>
										<ul class="dropdown">
											<li><a href="about.html">About Us</a></li>
											<li><a href="destinations.html">Destinations</a></li>
											<li><a href="team.html">Team</a></li>
											<li><a href="testimonials.html">Testimonials</a></li>
											<li><a href="faq.html">Faq</a></li>
											<li><a href="404.html">404 Page</a></li>
										</ul>
									</li>
									<li><a href="#">Blogs<i class="fa fa-angle-down"></i></a>
										<ul class="dropdown">
											<li><a href="blog-grid.html">Blog Grid</a></li>
											<li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
											<li><a href="blog-classic.html">Blog Classic</a></li>
											<li><a href="blog-classic-sidebar.html">Blog Classic Sidebar</a></li>
											<li><a href="blog-single.html">Blog Single</a></li>
											<li><a href="blog-single-sidebar.html">Blog Single Sidebar</a></li>
										</ul>
									</li>
									<li><a href="contact.html">Contact Us</a></li>
								</ul>
							</nav>
						</div>
						<!--/ End Main Menu -->
						<!-- Search Form -->
						<div class="search-form">
							<form class="form" action="#">
								<input id="s" placeholder="search..." type="text">
								<button type="submit" id="searchsubmit">
									<i class="fa fa-search"></i>  
								</button>
							</form>
						</div>
						<!--/ End Search Form -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Bottom -->
    </header>
	<!--/ End Header Area -->
	
	<!-- Hero Area Slider -->
    <section id="hero-area" class="hero-area overlay style2">
	   <!-- Slider Area -->
       <div class="slider-active">
			<div class="single-slider overlay" style="background-image:url('http://via.placeholder.com/2000x1000')">
			   <div class="container">
					<div class="row">
						<div class="col-12">
							<div class="hero-inner">
								<!-- Welcome Text -->
								<div class="welcome-text">	
									<p># 1 Most loved by everyone</p>
									<h1>Simply the Best</h1>
									<!-- Button -->
									<div class="button">
										<a href="trip-3-column.html" class="btn">Book your Trip</a>
										<a href="contact.html" class="btn primary">Contact Us</a>
									</div>
									<!--/ End Button -->
								</div>
								<!--/ End Welcome Text -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="single-slider overlay" style="background-image:url('http://via.placeholder.com/2000x1000')">
			   <div class="container">
					<div class="row">
						<div class="col-12">
							<div class="hero-inner">
								<!-- Welcome Text -->
								<div class="welcome-text">	
									<p># 1 Most loved by everyone</p>
									<h1>Simply the Best</h1>
									<!-- Button -->
									<div class="button">
										<a href="services.html" class="btn">View Services</a>
										<a href="blog-grid.html" class="btn primary">Read Blogs</a>
									</div>
									<!--/ End Button -->
								</div>
								<!--/ End Welcome Text -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Slider Area -->
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Trip Search -->
					<div class="trip-search">
						<form class="form">
							<h2><span>Find your trip</span></h2>
							<!-- Single Form -->
							<div class="form-group">
								<h4>Destination</h4>
								<div class="nice-select form-control wide" tabindex="0"><span class="current"><img src="images/destination-icon.png" alt="#">Where to Go</span>
									<ul class="list">
										<li data-value="1" class="option selected ">Destination One</li>
										<li data-value="2" class="option">Destination Two</li>
										<li data-value="3" class="option">Destination Three</li>
									</ul>
								</div>
							</div>
							<!--/ End Single Form -->
							<!-- Single Form -->
							<div class="form-group">
								<h4>Activities</h4>
								<div class="nice-select form-control wide" tabindex="0"><span class="current"><img src="images/activities-icon.png" alt="#">What to do</span>
									<ul class="list">
										<li data-value="1" class="option selected ">Activities One</li>
										<li data-value="2" class="option">Activities Two</li>
										<li data-value="3" class="option">Activities Three</li>
									</ul>
								</div>
							</div>
							<!--/ End Single Form -->
							<!-- Single Form -->
							<div class="form-group duration">
								<h4>Duration</h4>
								<div class="nice-select form-control wide" tabindex="0"><span class="current"><img src="images/duration-icon.png" alt="#">When to go</span>
									<ul class="list">
										<li data-value="1" class="option selected ">Duration One</li>
										<li data-value="2" class="option">Duration Two</li>
										<li data-value="3" class="option">Duration Three</li>
									</ul>
								</div>
							</div>
							<!--/ End Single Form -->
							<!-- Single Form -->
							<div class="form-group range">
								<h4>Budget</h4>
								<div class="price-filter">
									<div class="price-filter-inner">
										<div id="slider-range"></div>
										<div class="price_slider_amount">
											<div class="label-input">
												<input type="text" id="amount" name="price"  placeholder="Add Your Price" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--/ End Single Form -->
							<!-- Form Button -->
							<div class="form-group button">
								<button type="submit" class="btn">Search Trip</button>
							</div>
							<!--/ End Form Button -->
						</form>
					</div>
					<!--/ End Trip Search -->
				</div>
			</div>
		</div>
    </section>
   <!--/ End Hero Area Slider -->
	
    <!-- Why Choose -->
	<section id="why-choose" class="why-choose section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="title-line center">
						<p>Why choose us</p>
						<h2><span>What we</span> offer</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-12">
					<!-- Choose Single -->
					<div class="choose-single">
						<img src="images/offer1.png" alt="#">
						<h2>Best Asia Tour </h2>
						<p>nteger sed mollis nisl. Pellentesque tempor, diam nec tristique vulputate, neque tortor vehicula lorem In hac habitasse</p>
						<a href="#" class="btn">Read More</a>
					</div>
					<!--/ End Choose Single -->
				</div>
				<div class="col-lg-4 col-md-4 col-12">
					<!-- Choose Single -->
					<div class="choose-single">
						<img src="images/offer2.png" alt="#">
						<h2>Best Europe Tour </h2>
						<p>nteger sed mollis nisl. Pellentesque tempor, diam nec tristique vulputate, neque tortor vehicula lorem In hac habitasse</p>
						<a href="#" class="btn">Read More</a>
					</div>
					<!--/ End Choose Single -->
				</div>
				<div class="col-lg-4 col-md-4 col-12">
					<!-- Choose Single -->
					<div class="choose-single">
						<img src="images/offer3.png" alt="#">
						<h2>Best Africa Tour </h2>
						<p>nteger sed mollis nisl. Pellentesque tempor, diam nec tristique vulputate, neque tortor vehicula lorem In hac habitasse</p>
						<a href="#" class="btn">Read More</a>
					</div>
					<!--/ End Choose Single -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Why Choose -->
	 	
	<!-- Call To Action -->
	<section id="cta" class="cta style2 section overlay"  data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-12">
					<!-- CTA Text -->
					<div class="cta-text">
						<div class="title-line">
							<p>about company</p>
							<h2>Worthy time spent<span>around the world.</span></h2>
						</div>
						<p>The average employee is wasting between 50%-80% of their day on non-work related distractions. Time wasted is money wasted, thats money that could stay in your pocket simply by changing the way you assign your tasks.</p>
						<a href="trip-3-column.html" class="btn">Book your trip</a>
					</div>
					<!-- End CTA Text -->
				</div>
			</div>
		</div>
	</section>
	<!--/ End Call To Action --> 
	
	<!-- Popular Trips -->
	<section id="popular-trips" class="popular-trips style2 section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="title-line center">
						<p>Popular Trips</p>
						<h2><span>Around the</span> world</h2>
					</div>
				</div> 
			</div>
			<div class="row">
				<div class="col-12">
					<div class="trips-main">
						<!-- Trips Slider -->
						<div class="trips-slider">
							<!-- Single Slider -->
							<div class="single-slider">
								<div class="trip-head">
									<img src="http://via.placeholder.com/344x230" alt="#">
								</div>
								<div class="trip-details">
									<div class="left">
										<h4><a href="trip-single.html">Snorkel Tour in Grand Turks Coral Reef</a></h4>
										<p><i class="fa fa-clock-o"></i>3 Nights 4 Days</p>
									</div>
									<div class="right">
										<p>From<span>$300</span></p>
									</div>
									<a href="trip-single.html" class="btn">View More</a>
								</div>
							</div>
							<!--/ End Single Trips -->
							<!-- Single Slider -->
							<div class="single-slider">
								<div class="trip-head">									
									<div class="trip-offer">25% OFF</div>
									<img src="http://via.placeholder.com/344x230" alt="#">
								</div>
								<div class="trip-details">
									<div class="left">
										<h4><a href="trip-single.html">Awesome tour package in pattaya</a></h4>
										<p><i class="fa fa-clock-o"></i>2 Nights 3 Days</p>
									</div>
									<div class="right">
										<p>From<span>$200</span></p>
									</div>
									<a href="trip-single.html" class="btn">View More</a>
								</div>
							</div>
							<!--/ End Single Trips -->
							<!-- Single Slider -->
							<div class="single-slider">
								<div class="trip-head">
									<img src="http://via.placeholder.com/344x230" alt="#">
								</div>
								<div class="trip-details">
									<div class="left">
										<h4><a href="trip-single.html">Tour package in Greenville, Carolina</a></h4>
										<p><i class="fa fa-clock-o"></i>5 Nights 6 Days</p>
									</div>
									<div class="right">
										<p>From<span>$800</span></p>
									</div>
									<a href="trip-single.html" class="btn">View More</a>
								</div>
							</div>
							<!--/ End Single Trips -->
							<!-- Single Slider -->
							<div class="single-slider">
								<div class="trip-head">
									<img src="http://via.placeholder.com/344x230" alt="#">
								</div>
								<div class="trip-details">
									<div class="left">
										<h4><a href="trip-single.html">Crazy Winter tour in everest</a></h4>
										<p><i class="fa fa-clock-o"></i>3 Nights 4 Days</p>
									</div>
									<div class="right">
										<p>From<span>$300</span></p>
									</div>
									<a href="trip-single.html" class="btn">View More</a>
								</div>
							</div>
							<!--/ End Single Trips -->
							<!-- Single Slider -->
							<div class="single-slider">
								<div class="trip-head">
									<div class="trip-offer">50% OFF</div>
									<img src="http://via.placeholder.com/344x230" alt="#">
								</div>
								<div class="trip-details">
									<div class="left">
										<h4><a href="trip-single.html">Snorkel Tour in Grand Turks Coral Reef</a></h4>
										<p><i class="fa fa-clock-o"></i>4 Nights 5 Days</p>
									</div>
									<div class="right">
										<p>From<span>$500</span></p>
									</div>
									<a href="trip-single.html" class="btn">View More</a>
								</div>
							</div>
							<!--/ End Single Trips -->
							<!-- Single Slider -->
							<div class="single-slider">
								<div class="trip-head">
									<img src="http://via.placeholder.com/344x230" alt="#">
								</div>
								<div class="trip-details">
									<div class="left">
										<h4><a href="trip-single.html">Tour package in Greenville, Carolina</a></h4>
										<p><i class="fa fa-clock-o"></i>5 Nights 6 Days</p>
									</div>
									<div class="right">
										<p>From<span>$800</span></p>
									</div>
									<a href="trip-single.html" class="btn">View More</a>
								</div>
							</div>
							<!--/ End Single Trips -->
						</div>
						<!--/ End Trips Slider -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Popular Trips -->
	
	<!-- Counter -->
	<section id="counter" class="counter overlay section" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-12">
					<!-- Single Count -->
					<div class="single-count">
						<h2><span class="number">2500</span> Satisfied Customer</h2>
						<p>We are technology leaders and have crafted intuitive and lasting online and mobile experiences</p>
					</div>
					<!--/ End Single Count -->
				</div>
				<div class="col-lg-4 col-md-4 col-12">
					<!-- Single Count -->
					<div class="single-count">
						<h2><span class="number">5533</span> Advanced Booking</h2>
						<p>We are technology leaders and have crafted intuitive and lasting online and mobile experiences</p>
					</div>
					<!--/ End Single Count -->
				</div>
				<div class="col-lg-4 col-md-4 col-12">
					<!-- Single Count -->
					<div class="single-count">
						<h2><span class="number">232</span> Different Tailor Trips</h2>
						<p>We are technology leaders and have crafted intuitive and lasting online and mobile experiences</p>
					</div>
					<!--/ End Single Count -->
				</div>
			</div>
		</div>
	</section>
	<!--/ End Counter --> 
	
	<!-- Testimonials -->
	<section id="testimonials" class="testimonials style2 section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="title-line center">
						<p>What our guest are saying</p>
						<h2><span>Clients</span> Experience</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="testimonial-slider-two">
						<!-- Single Slider -->
						<div class="single-slider">
							<div class="t-content">	
								<img src="images/quote-icon.png" alt="#">
								<p>ultricies. Phasellus At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti providen"</p>
							</div>
							<div class="author">
								<img src="http://via.placeholder.com/100x100" alt="#">
								<h2>Tony McLaren<span>Middlesex, Uk</span></h2>
							</div>
						</div>
						<!--/ End Single Slider -->
						<!-- Single Slider -->
						<div class="single-slider">
							<div class="t-content">
								<img src="images/quote-icon.png" alt="#">
								<p>Vivamus mattis at augue ac pellentesque. Morbi non lacus quis velit lacinia elementum vitae eu ipsum. Integer mauris nulla, bibendum</p>
							</div>
							<div class="author">
								<img src="http://via.placeholder.com/100x100" alt="#">
								<h2>Landon Sarno<span>Operator, US</span></h2>
							</div>
						</div>
						<!--/ End Single Slider -->
						<!-- Single Slider -->
						<div class="single-slider">
							<div class="t-content">
								<img src="images/quote-icon.png" alt="#">
								<p>In volutpat id veli augue ac pellentesque. Morbi non lacus quis velit lacinia elementum vitae eu ipsum. Integer mauris nulla, bibendum</p>
							</div>
							<div class="author">
								<img src="http://via.placeholder.com/100x100" alt="#">
								<h2>Tony McLaren<span>Sonila, Photographer, NP</span></h2>
							</div>
						</div>
						<!--/ End Single Slider -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Testimonials -->
	
	<!-- Call To Action -->
	<section id="video" class="video section overlay">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="title-line center">
						<p>Great Trip with Great Company</p>
						<h2>Worthy time spent <span>around the world.</span></h2>
					</div>
					<div class="video-button">
						<a href="https://www.youtube.com/watch?v=PtWeqZsuzpE" class="btn video-popup mfp-fade"><i class="fa fa-play"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Call To Action -->
	
	<!-- Latest Blog -->
	<section id="blog-area" class="blog-area style2 section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="title-line center">
						<p>News & Blog</p>
						<h2><span>Latest</span> Updates</h2>
					</div>
				</div>   
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-12">
					<!-- Single Blog -->
					<div class="single-blog">
						<img src="http://via.placeholder.com/560x455" alt="#">
						<div class="blog-content">
							<span>interview</span>
							<h4><a href="#">Climb leg rub face on everything give attitude monographics</a></h4>
							<p><a href="#">ANTONIO REBBECA</a> ON Semptember 17, 2017</p>
						</div>
					</div>
					<!--/ End Single Blog -->
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<!-- Single Blog -->
					<div class="single-blog active overlay">
						<img src="http://via.placeholder.com/560x455" alt="#">
						<div class="blog-content">
							<span>interview</span>
							<h4><a href="#">Climb leg rub face on everything give attitude monographics</a></h4>
							<p><a href="#">ANTONIO REBBECA</a> ON Semptember 17, 2017</p>
						</div>
					</div>
					<!--/ End Single Blog -->
				</div>
			</div>
		</div>
	</section>
	<!--/ End Latest Blog -->
	
	<!-- Clients -->
	<div id="clients" class="clients section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="clients-slider">
						<!-- Single Clients -->
						<div class="single-clients">
							<a href="#" target="_blank"><img src="http://via.placeholder.com/220x60" alt="#"></a>
						</div>
						<!--/ End Single Clients -->
						<!-- Single Clients -->
						<div class="single-clients active">
							<a href="#" target="_blank"><img src="http://via.placeholder.com/220x60" alt="#"></a>
						</div>
						<!--/ End Single Clients -->
						<!-- Single Clients -->
						<div class="single-clients">
							<a href="#" target="_blank"><img src="http://via.placeholder.com/220x60" alt="#"></a>
						</div>
						<!--/ End Single Clients -->
						<!-- Single Clients -->
						<div class="single-clients">
							<a href="#" target="_blank"><img src="http://via.placeholder.com/220x60" alt="#"></a>
						</div>
						<!--/ End Single Clients -->
						<!-- Single Clients -->
						<div class="single-clients">
							<a href="#" target="_blank"><img src="http://via.placeholder.com/220x60" alt="#"></a>
						</div>
						<!--/ End Single Clients -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Clients -->
	
	<!-- Call To Action -->
	<section id="cta-style3" class="cta-style3 overlay" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="cta-text">
						<h2><span>DON't let the time go!</span> BOOK YOUR TRIP TODAY</h2>
						<p>Pack your Bags and Leave Everything to us</p>
						<div class="button">
							<a href="contact.html" class="btn">Book your trip</a>
							<a href="contact.html" class="btn primary">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Call To Action -->
	
	<!-- Footer -->
	<footer class="footer style2">
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<!-- Single Widget -->
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-widget about">
							<img src="images/logo.png" alt="#">
							<p>I was thinking about Jeff Weiner's question to identify a single product or feature that you cannot do without. For me, it is easy.</p>
						</div>
					</div>
					<!--/ End Single Widget -->
					<!-- Single Widget -->
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-widget">
							<h2>Reservation</h2>
							<ul>
								<li><a href="#">Terms and Conditions</a></li>
								<li><a href="#">Copyright</a></li>
								<li><a href="#">Refund Policy</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Disclaimer</a></li>
							</ul>
						</div>
					</div>
					<!--/ End Single Widget -->
					<!-- Single Widget -->
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-widget">
							<h2>More Links</h2>
							<ul>
								<li><a href="faq.html">Faqs</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="blogs.html">Blog</a></li>
								<li><a href="faq.html">Faq</a></li>
								<li><a href="#">ExecClub</a></li>
							</ul>
						</div>
					</div>
					<!--/ End Single Widget -->
					<!-- Single Widget -->
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-widget blog">
							<h2>Latest Blog</h2>
							<ul>
								<li><a href="blog-single.html">Lorem ipsum dolor sit amet, consectetur iscing elit</a></li>
								<li><a href="blog-single.html">At vero eos et accusamus et iusto odio dignissimos ducimus</a></li>
								<li><a href="blog-single.html">onofi lumaia rahia...</a></li>
							</ul>
						</div>
					</div>
					<!--/ End Single Widget -->
				</div>
				<div class="row">
					<div class="col-12">
						<div class="footer-menu-top">
							<div class="row">
								<div class="col-lg-6 col-md-8 col-12">
									<ul class="footer-nav">                                          
										<li><a href="#">About</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="#">Carrres</a></li>
										<li><a href="#">Testimonials</a></li>
										<li><a href="#">Contact</a></li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-4 col-12">
									<!-- Social -->
									<ul class="social">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
									<!--/ End Social -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Footer Top -->
		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="bottom-inner">
							<div class="row">
								<div class="col-12">
									<!-- Copyright -->
									<div class="copyright"> 
										<p>Copyright &#9400; 2018 by <a href="#">iThemer.</a> All Right Reserved</p>
									</div>
									<!--/ End Copyright -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Footer Bottom -->
	</footer>
	<!--/ End footer -->
	
	<!-- Jquery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Steller JS -->
	<script src="js/steller.js"></script>
	<!-- Fancybox JS -->
	<script src="js/facnybox.min.js"></script>
	<!-- Circle Progress JS -->
	<script src="js/circle-progress.min.js"></script>
	<!-- Slicknav JS -->
	<script src="js/slicknav.min.js"></script>
	<!-- Niceselect JS -->
	<script src="js/niceselect.js"></script>
	<!-- Owl Carousel JS -->
	<script src="js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="js/magnific-popup.js"></script>
	<!-- Waypoints JS -->
	<script src="js/waypoints.min.js"></script>
	<!-- Wow Min JS -->
	<script src="js/wow.min.js"></script>
	<!-- Jquery Counterup JS -->
	<script src="js/jquery-counterup.min.js"></script>
	<!-- Ytplayer JS -->
	<script src="js/ytplayer.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="js/scrollup.js"></script>
	<!-- Easing JS -->
	<script src="js/easing.js"></script>
	<!-- Google Map JS -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhgNBg6jrSuqhTeKKEFDWI0_5fZLx0vM"></script>	
	<script src="js/gmap.min.js"></script>
	<!-- Active JS -->
	<script src="js/active.js"></script>
</body>
</html>